<!-- Container Fluid Begins -->
<div class="container-fluid">
  <!-- Row Begins -->
  <div class="row">
    <!-- Background Blur Begins -->
    <div class="background blur">            
      <!-- Right Align Block Begins -->
      <div class=" Right-align-block">             
        <!-- Form Begins -->
        <form class="form-style" #form="ngForm"(ngSubmit)="OnSubmit(form)">
          <!-- Form group for Date Input  -->
          <div class="form-group">
            <mat-form-field class="mat-input-style">
              <input matInput 
                [(ngModel)]="date"name="date" #date_crtl="ngModel" 
                [min]="today"required 
                [matDatepicker]="picker"
                placeholder="Choose a date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          
          <!-- Form Group for autocomplete Location -->
          <div class="form-group">
            <mat-form-field class="mat-input-style">
              <input type="text"required 
                placeholder="Location" aria-label="Number" 
                matInput [(ngModel)]="location"#location_ctrl="ngModel"
                name="location" (ngModelChange)="do_Filter()"
                [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions " [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          
          <!-- Form Group for Submit Button -->
          <div class="form-group">
            <button mat-raised-button color="primary"type="submit">Submit</button>
          </div>                          
        </form>
        <!-- Form Ends -->
    </div>
        <!-- Right Align Block Ends -->
    </div>
      <!-- Background Blur Ends -->
  </div>
    <!-- Row Ends -->
</div>  
<!-- Container fluid ends -->

<!-- Power Drive Advantage container -->
<div class="bgsmoke"style="">
<div class="container">
  <div class="row text-center">
  <div class="col-12">
    <h1>The PowerDrive Advantage</h1>
    <p>We simplified car rentals, so you can focus on what's important to you.</p>
  </div>
  <div class="col-sm-4 drive-advantage-style"style="">
    <h3 style="">Fuel Cost Included</h3>
    <p>Don't worry about mileage! All fuel costs are included. If you refill fuel, we'll pay you back!</p>
  </div>
  <div class="col-sm-4 drive-advantage-style"style="">
    <h3 style="">No Hidden Charges</h3>
    <p>Our prices include taxes and insurance.What you see is what you really pay!</p>
  </div>
  <div class="col-sm-4 drive-advantage-style"style="">
    <h3 style="">Flexi Pricing Packages</h3>
    <p>One size never fits all! Choose a balance of time and kilometers that works best for you.</p>
  </div>
  <div class="col-sm-4 drive-advantage-style"style="">
    <h3 style="">Go Anywhere</h3>
    <p>Our cars have all-India permits. Just remember to pay state tolls and entry taxes.</p>
  </div>
  <div class="col-sm-4 drive-advantage-style"style="">
    <h3 style="">24x7 RoadSide Assistance</h3>
    <p>We have round-the-clock, pan India partners. Help is never far away from you.</p>
  </div>
  <div class="col-sm-4 drive-advantage-style"style="">
    <h3 style="">Damage Insurance</h3>
    <p>All your bookings include damage insurance! Drive safe, but don’t worry!</p>
  </div>
  </div>
</div>
</div>
<!-- Power Drive Advantage Container Ends -->

<!-- BS4 Carousel Begins -->
<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner"style="max-height:500px;">
    <div class="carousel-item active">
      <img src="/assets/images/pic1.png" alt="Los Angeles" width="1100" height="500">      
    </div>
    <div class="carousel-item">
      <img src="/assets/images/pic2.png" alt="Chicago" width="1100" height="500">      
    </div>
    <div class="carousel-item">
      <img src="/assets/images/pic3.png" alt="New York" width="1100" height="500">      
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
<!-- Carousel Ends -->

<!-- How POWERDRIVE WORKS container -->
<div class="bgsmoke">
  <div class="container">
    <div class="row text-center">
    <div class="col-12">
      <h2>HOW POWERDRIVE WORKS</h2>
      <p>Drive yourself to an adventure and back in 5 simple steps.</p>
    </div>
    <div class="col-sm how-drive-works-style"style="">
      <h4 style="">BOOK</h4>
      <p style="">Search for and book a car on our site!</p>
    </div>
    <div class="col-sm how-drive-works-style"style="">
      <h4 style="">UPLOAD LICENSE</h4>
      <p style="">Upload your driver’s license, and pay a small security deposit.</p>
    </div>
    <div class="col-sm how-drive-works-style"style="">
      <h4 style="">UNLOCK</h4>
      <p style="">We SMS your car details 20 minutes before pickup. Unlock it via the Zoomcar app.</p>
    </div>
    <div class="col-sm how-drive-works-style"style="">
      <h4 style="">DRIVE</h4>
      <p style="">Fill the start checklist in the Zoomcar app. Grab the keys from the glove-box and drive.</p>
    </div>
    <div class="col-sm how-drive-works-style"style="">
      <h4 style="">RETURN</h4>
      <p style="">Return the car to the same location and fill the end checklist to end your trip.</p>
    </div>
    </div>
  </div>
</div>
<!-- How POWERDRIVE works container ends -->

<!-- Basic Footer -->
<footer class="footer">
    <div class="container-fluid bg-dark"style="padding:20px">
      <div class="row text-center"style="color:white">
        <div class="col">
        <p>Designed And Developed by <a href="https://prajwalx.github.io"target="_blank"style="color:white;text-decoration:underline;">Prajwal Kumar Bhati</a></p>  
        </div>        
      </div>  
    </div>
</footer>